<section class="bg-accent mt-5 pt-3 pb-4" *ngIf="posts">
    <div class="container">
        <div class="row bg-accent">
            <div class="col-12 my-4">
                <h3>Related Posts</h3>
                <span class="text-muted"></span>
            </div>
            <div class="col-12 col-md-4" *ngFor="let post of posts">
                <a [routerLink]="[post.link]" class="post-title">
                    <h4>{{ post.title.rendered }}</h4>
                </a>
                <p class="post-excerpt" [innerHTML]="post.excerpt.rendered"></p>
            </div>
        </div>
    </div>
</section>