<div class="container mt-5" *ngIf="post; else loading;">
    <div class="row">
        <div class="col-12">
            <span class="post-categories">
                <a *ngFor="let category of categories" 
                    class="post-categories"
                    [routerLink]="['/category', category.slug]">
                    {{ category.name }}
                </a>
            </span>
            <h1 class="single-post-title">{{ post.title.rendered }}</h1>
            <app-byline [post]="post"></app-byline>
            <span class="date">
                <span class="text-muted">•</span> {{ post.date | date: "mediumDate" }}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <article *ngIf="post" class="mt-4"
                [innerHTML]="post.content.rendered">
            </article>
        </div>
        <div class="col-12 col-md-4">
            <app-sidebar></app-sidebar>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-related-posts [post]="post"></app-related-posts>
        </div>
    </div>
</div>
<ng-template #loading>
    <app-loader></app-loader>
</ng-template>